# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# Flask instance folder
instance/

# Static files generated
staticfiles/
media/

# IDEs and editors
.idea/
.vscode/
*.swp
*~

# Operating system files
.DS_Store
Thumbs.db
